<div class="blog-sidebar">
  <div class="blog-sidebar-part">
    <h3>categories</h3>
    <ul class="blog-category-ul">
      {% for tag in blog.all_tags limit:8 %}
      {% assign count = 0 %}
      {% for article in blogs[blog.handle].articles %}
      {% if article.tags contains tag %}
      {% capture count %}{{ count | plus: 1 }}{% endcapture %}
      {% endif %}
      {% endfor %}
      {% unless tag contains 'date-' %}
      {% if current_tags contains tag %}
      <li class="selected"><a href="javascript:void(0)">{{ tag }}</a></li>
      {% else %}
      <li><a href="/blogs/{{ blog.handle }}/tagged/{{tag | handle }}">{{ tag }}</a></li>
      {% endif %}
      {% endunless %}
      {% endfor %}
    </ul>
  </div>
  <div class="blog-sidebar-part">
    <h3>Popular Posts</h3>
    <ul class="blog-recent-ul">
      {% for article in blogs[blog.handle].articles limit: 3 %}
      <li>{{ article.title | link_to: article.url }}<span>{{ article.published_at | date: "%b %d, %Y" }}</span></li>
      {% endfor %}
    </ul>
  </div>
  <div class="blog-sidebar-part">
    <h3>archive</h3>
    <ul class="blog-archive-ul">
      {% for tag in blog.all_tags limit:10 %}      
      {% if tag contains 'date-' %}
      {% if current_tags contains tag %}
      <li><a href="javascript:void(0)" class="selected">{{ tag | remove: "date-" }}</a></li>
      {% else %}
      <li><a href="/blogs/{{ blog.handle }}/tagged/{{ tag | handle }}">{{ tag | remove: "date-" | replace:"-"," " }}</a></li>
      {% endif %}
      {% endif %}
      {% endfor %}
    </ul>
  </div>
  <div class="blog-sidebar-part">
    <h3>tags</h3>
    <ul class="blog-tags-ul">
      {% for tag in blog.all_tags limit:10 %}
      {% unless tag contains 'date-' %}
      {% if current_tags contains tag %}
      <li><a href="javascript:void(0)" class="selected">{{ tag }}</a></li>
      {% else %}
      <li><a href="/blogs/{{ blog.handle }}/tagged/{{ tag | handle }}">{{ tag }}</a></li>
      {% endif %}
      {% endunless %}
      {% endfor %}
    </ul>
  </div>
</div>
