{% if product.available %}
{% if section.settings.enable_stock_bar %}

<!--Timer with progess disable using product tag-->
<div class="bar_adjustment">
 {% assign tg = 'show' %}

{% if settings.disable_timer_use_tag %}
  {% for tag in product.tags %}
    {% if "no-timer" == tag %}
    	{% assign tg = 'hide' %}
    {% endif %}
  {% endfor %}
{% endif %}

{% assign enable_stockbar_count = settings.enable_stock_bar_count | plus: 0 %}
{% for variant in product.variants %} 
    {% if variant.inventory_management == 'shopify' %} 
    	{% assign inventory_quantity = variant.inventory_quantity | plus: 0 %}
      	{% if enable_stockbar_count >= inventory_quantity  %}
          {% assign enable_stockbarCount = true %} 
      	{% else %}
          {% assign enable_stockbarCount = false %}  
    {% endif %}
  {% endif %}
{% endfor %}  

{% if enable_stockbarCount == true %}
  
<div id="progress_bar1" class="progress-container items-count">
 
<p class="progress_bar_text">{{ section.settings.stock_bar_text_left }} 
  {% if settings.enable_inventory_stock_number == "enable_stock_number_random" %}  
  
    {% assign leftNumber='' %}
    <input type="hidden" id="stock_left_num" class="cookies_Left_number stock_left_num" value="" />
  
  {% else %}  

  {% assign total = 0 %}  
  {% assign infinity = false %} 
  
    {% for variant in product.variants %}
      {% if variant.inventory_management != 'shopify' %}  
          {% assign infinity = true %}
      {% elsif infinity == false %}
        {% capture temp %}{{ total | plus: variant.inventory_quantity }}{% endcapture %} 		
      	{% assign total = temp %}
      {% endif %}
    {% endfor %}
  
    {% if infinity == true %}
    	{% assign leftNumber = '12' %}
    {% elsif total == 0 %}
    	{% assign leftNumber = '1' %}
    {% else %}
    	{% assign leftNumber = total %}
    {% endif %}
  
  {% endif %} 
  
  <span id="counter_left" class="count">{{ leftNumber }}</span>   
   {{ section.settings.stock_bar_text_right }}
  </p>
  <input type="hidden" class="timer_time" value="{{ settings.enable_timer_stg_custom }}" />
  <input type="hidden" id="stock_left_num" class="stock_left_num" value="{{ leftNumber }}" />
  <input type="hidden"  id="stock_final_num" value="{{ leftNumber }}" />
</div>

<div id="progressBar" class="progress progress-striped active progress-bar-success">
  <div class="progress-bar progress-bar-success" style="padding: 0px 6px;width: 100%;font-size: 0px;"></div>
</div>
  
<style>
div#progress_bar1, .bar_adjustment {clear: both;width: 100%;}
.top_div_counter div#progress_bar1 {float: left;width: 100%;}
.top_div_counter div#progressBar {float: left;width: 100%;}
.top_div_counter div#progressBar_back {float: left;width: 100%;}
.top_div_counter .counter_box {float: left;width: 100%;}
.top_div_counter div#progress_bar_text {float: left;width: 100%;}
div#progressBar_back {position: relative; top: -31px;z-index: -1;display:none !important;}
div#progressBar {position: relative;width: 100%;}
div#progressBar{border-radius: 40px !important;  }
.template-product .progress {background-color: #eae9e9;height: 11px !important;border-radius: 40px;}
.progress-bar.progress-bar-success{border-radius: 40px !important;background-image: none !important;}
</style>
  {% endif %}
</div>
{% endif %}
{% endif %}