{% assign sidebar = section.settings.sidebar_pos %}
{% paginate blog.articles by section.settings.post_per_page %}

<!-- BANNER -->
<section class="banner-section" style="background:url({{ section.settings.blog_banner | img_url:'1920x320' }}) no-repeat; background-size: cover;">
  <div class="container">
    <div class="banner">
      <h1>{{ page_title }}</h1>
      <ul>
        <li><a href="/">Home</a></li>
        <li>{{ page_title }}</li>
      </ul>
    </div>
  </div>
</section>

<!-- BLOGS -->
<section class="blog-section">
  <div class="container">
    <div class="row">
      <div class="blog">
        {% unless sidebar == 'none' %}
        <div class="col-lg-3 col-md-4 col-xs-12 {% if sidebar == 'right' %}float-xs-right{% else %}float-xs-left{% endif %}">
        {% include 'blog-sidebar' %}
        </div>
        {% endunless %}
        <div class="{% if sidebar == 'none' %}col-lg-12 col-md-12{% else %}col-lg-9 col-md-8{% endif %} col-xs-12">
          <div class="blog-part {% if sidebar == 'right' %}pr-25{% else %}pl-25{% endif %}">
            {% for article in blog.articles %}
            <div class="blog-fig-part">
              <figure><a href="{{ article.url }}"><img src="{{ article.image | img_url: '850x460'}}" alt="{{ article.title }}"></a></figure>
              <div class="blog-wrap">
                <h4><a href="{{ article.url }}">{{ article.title }}</a></h4>
                <p>
                  {% if section.settings.blog_show_date %}
                  <span>{{ article.published_at | date: "%d %b %Y" }}</span>
                  {% endif %}
                  {% if section.settings.blog_show_author %}
                  <span>{{ article.author }}</span>
                  {% endif %}
                </p>
              </div>
              <div class="blog-fig"> <a href="{{ article.url }}" class="blog-btn">Read more</a> </div>
            </div>
			{% endfor %}
            {% if paginate.pages > 1 %}
            <div class="blog-pagination">
            {% include 'pagination' %}
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endpaginate %}

{% schema %}
  {
    "name": "Blog pages",
    "settings": [
	  {
        "type": "image_picker",
        "id": "blog_banner",
        "label": "Banner"
      },	 
      {
        "type": "select",
        "id": "sidebar_pos",
        "label": "Sidebar position",
        "default": "right",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          },
          {
            "value": "none",
            "label": "None"
          }
        ]
      },
	  {
        "type": "select",
        "id": "post_per_page",
        "label": "Posts per page",
        "default": "2",
        "options": [
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "6",
            "label": "6"
          },
          {
            "value": "8",
            "label": "8"
          },
          {
            "value": "10",
            "label": "10"
          },
          {
            "value": "12",
            "label": "12"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "blog_show_author",
        "label": "Show author",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "blog_show_date",
        "label": "Show date",
        "default": true
      }
    ]
  }
{% endschema %}
